apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - network-policy.yaml
  - secret.yaml
  - configmap.yaml
  - pvc.yaml
  - builds.yaml
  - mysql-statefulset.yaml
  - redis-statefulset.yaml
  - backend-deployment.yaml
  - backend-ingress.yaml
  - frontend-deployment.yaml
  - route.yaml

# Must use commonLabels for compatibility with older 'oc' clients
commonLabels:
  app: bookstore
  managed-by: kustomize