apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - secret.yaml
  - configmap.yaml
  - pvc.yaml
  - builds.yaml
  - mysql-statefulset.yaml
  - redis-statefulset.yaml
  - backend-deployment.yaml
  - backend-ingress.yaml
  - frontend-deployment.yaml
  - route.yaml

labels:
  - includeSelectors: false
    pairs:
      app: bookstore
      managed-by: kustomize