apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # - pod-security.yaml  <-- REMOVED because you don't have permission for Namespace objects
  - secret.yaml
  - configmap.yaml
  - pvc.yaml
  - builds.yaml
  - mysql-statefulset.yaml
  - redis-statefulset.yaml
  - backend-deployment.yaml
  - backend-ingress.yaml
  - frontend-deployment.yaml
  - route.yaml

# We remove includeSelectors: true to avoid the "immutable field" error
labels:
  - includeSelectors: false
    pairs:
      app: bookstore
      managed-by: kustomize