apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - configmap.yaml
  - secret.yaml
  - mysql-statefulset.yaml
  - redis-statefulset.yaml
  - backend-deployment.yaml
  - frontend-deployment.yaml
  - route.yaml
  - backend-ingress.yaml

# Changed from commonLabels to labels
labels:
  - includeSelectors: true
    pairs:
      app: bookstore
      managed-by: kustomize